html, body{
	font-family: Crowlista Mono;
	font-size: 3vw;
	font-weight: 300;
	height: 100vh;
	margin: 0;

	overflow: hidden;

	cursor: default;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	/* background-color: #25F4EE; */
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*{
	box-sizing: border-box;
}

h1 {	
	font-family: Crowlista Mono;
	font-size: 4rem;
	font-weight: 300;
	line-height: 4rem;
}

h2 {	
	font-family: Crowlista Mono;
	font-size: 3rem;
	font-weight: 300;
	line-height: 3rem;
}

h3 {	
	font-family: Crowlista Mono;
	font-size: 2rem;
	font-weight: 300;
	line-height: 2rem;
}

h4 {	
	font-family: Crowlista Mono;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1rem;
}

p {
	font-size: 0.5rem;
	font-weight: 300;
}

b {
	font-weight: 300;
}

#gamenotation.ss06 {
	font-feature-settings: "ss07" 1;
}
/* 
.navigation {
	position: fixed;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;

	text-align: center;

	z-index: 1;

} */


/* .pieceslist {
	position: absolute;

	display: flex;
	flex-direction: column;
} */

.button {
	position: relative;
	top: 0%;
	/* left: 0%; */
	/* top: 4rem; */

	margin-bottom: 6px;

	transform: translate3d(0, 0, 0);

	rotate: 180deg;

	height: 100%;
	width: 72px;

	background: black;
	/* border-radius: 2px; */
	border: 2px solid white;
	border-collapse: collapse;
	padding: 0.2em 0;

	font-family: Crowlista Mono;
	font-size: 0.3rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 72px;
	color: white;
	text-align: center;

	cursor: pointer;

	overflow: hidden;

	writing-mode: vertical-lr;

	z-index: 2;

	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sliderpage {
	position: absolute;

	width: 72px;

	z-index: 3;

	overflow: hidden;

	transition: width 1s ease-in-out;
}

#pagetechnical {
	position: absolute;
	top: 0%;
	left: 0;

	height: 100vh;
	width: 72px;

	background-color: lightcoral;
}

#specimen {
	position: absolute;
	left: 100%;
	transform: translate3d(100%, 0, 0);

	border-left: 1px solid white;

}

.technicallayout {
	position: absolute;

	right: 72px;

	height: 100%;
	width: calc(100vw - 288px);
	background-color: white;

	transition: left 1s ease-in-out;
}

/* .technicallayout.slideright {
	left: 0%;
} */

#pagetechnical.open {
	width: calc(100vw - 216px);
}

.technicaltitle {
	position: relative;
	top: 12px;

	width: 100%;
	height: fit-content;

	font-size: 0.5rem;
	font-family: Crowlista Mono;
	
	text-align: center;

	margin-bottom: 24px;

	transition: color 0.2s ease-in-out;
}

.fontbutton {
	transition: color 0.2s ease-in-out;
}

.fontbutton:hover {
	cursor: pointer;
	color: grey;
}

.fontbutton.touched {
	/* background: black; */
	color: grey;

	transition: color 0.2s ease-in-out;
}

.glyphset {
	position: absolute;
	top: 50vh;
	left: 2%;

	transform: translate3d(0, -50%, 0);

	height: fit-content;
	width: 96%;

	padding: 0px 12px;

	font-size: 0.8rem;
	font-family: Crowlista Mono;
	word-wrap: break-word;

	text-align: center;
	line-height: 1.2rem;

	/* overflow: hidden; */

	opacity: 0;
}

#italicglyphset {
	font-family: Crowlista Mono Italic;
}

#checkerglyphset {
	font-family: Crowlista Checker;
}

#inlineglyphset {
	font-family: Crowlista Inline;
}

.glyphset.showglyphs {
	opacity: 1;
}

#pagegames {
	position: absolute;
	top: 0%;
	right: 144px;

	height: 100vh;
	width: 72px;

	background-color: white;
}

.gameslayout {
	position: absolute;
	top: 0%;
	left: 72px;
	
	width: calc(50vw - 72px);
	height: 100vh;

	z-index: 1;

	background-color: white;

	overflow: scroll;
}

#secondtitle {
	position: relative;
}

#notationlist {
	padding-bottom: 48px;
}

#longarrows {
	font-feature-settings: "ss06" 1;
}

#fidenotation {
	font-size: 2rem;
	line-height: 2rem;
	font-feature-settings: "ss07" 1;
}

#biggernotation {
	font-size: 2rem;
	line-height: 2rem;
}


/* table {
	position: absolute;
	top: 80vh;
	left: 12px;

	height: auto;
	width: calc(50vw - 24px);

	padding-bottom: 12px;
}

th {
	font-size: 0.3rem;

	text-align: left;
	font-weight: 400;
	padding-bottom: 12px;
}

tr {
	font-size: 0.3rem;
} */

#games {
	right: 0%;
	transform: translate3d(0%, 0, 0);
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#pagegames.open {
	width: 50vw;
}

#pagelanguages {
	position: absolute;
	top: 0%;
	right: 72px;

	height: 100vh;
	width: 72px;

	background-color: white;
}

#languages {
	right: 0%;
	transform: translate3d(0%, 0, 0);
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#pagelanguages.open {
	width: 50vw;
}

#pagestory {
	position: absolute;
	top: 0%;
	right: 0px;

	height: 100vh;
	width: 72px;

	background-color: white;
}

#story {
	right: 0%;
	transform: translate3d(0%, 0, 0);
	border-right: 1px solid white;
}

#pagestory.open {
	width: 50vw;
}

.storylayout {
	position: absolute;
	top: 0%;
	left: 72px;
	
	width: calc(50vw - 72px);
	height: 100vh;

	z-index: 1;

	background-color: white;
}
.storytext {
	position: absolute;

	width: 100%;
	height: fit-content;

	padding: 0 24px;

	font-size: 0.3rem;
	line-height: 0.5rem;
	text-align: center;
}

.buttonwrapper {
	position: absolute;
	top: 0%;
	right: 0%;

	height: 100%;
	width: fit-content;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
/* 
#technical {
	position: relative;
} */

#games {
	position: relative;
}

#rules {
	position: relative;
}

#story {
	position: relative;
}

#languages {
	position: relative;
}

.subbutton {
	position: relative;
	/* top: 4rem; */
	left: 12px;

	top: 48px;

	margin-bottom: 6px;

	transform: translate3d(0, 0, 0);

	height: fit-content;
	width: fit-content;

	/* background-color: n; */
	border-radius: 2px;
	padding: 0 0.2em;

	font-family: Crowlista Mono;
	font-size: 2rem;
	line-height: 2rem;
	color: white;

	cursor: pointer;

	/* z-index: 1; */

	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
	background-color: white;
	color: black;
}

.subbutton:hover {
	/* background-color: white; */
	color: red;
	cursor: pointer;
}

.page {
	position: absolute;
	top: 100vh;
	left: 0;

	width: 100vw;
	height: 100%;

	overflow: hidden;

	background-color: black;
	color: white;

	scroll-snap-align: start;
	scroll-snap-stop: always;

	z-index: 3;

	transition: top 1s ease-in-out;
}

.page.show {
	top: 0vh;
}

.pagered {
	position: absolute;
	top: 100vh;
	left: 0;

	width: 100vw;
	height: 100%;

	/* padding-top: 48px; */
	padding-left: 12px;

	overflow: scroll;

	background-color: black;
	color: white;

	scroll-snap-align: start;
	scroll-snap-stop: always;

	z-index: 5;

	transition: top 1s ease-in-out;
}

.pagered.show {
	top: 0vh;
}

.closepage {
	position: absolute;
	top: 12px;
	left: 12px;

	height: 24px;
	width: 24px;

	background-color: white;

	cursor: pointer;

	z-index: 4;

	/* mix-blend-mode: color-burn; */
}

.closepagered {
	position: absolute;
	top: 12px;
	left: 12px;

	height: 24px;
	width: 24px;

	background-color: white;

	cursor: pointer;

	z-index: 6;

	/* mix-blend-mode: color-burn; */

}

.gameslist {
	height: 100%;
	overflow: scroll;
}

#title {
	position: absolute;
	/* top: calc(50% - 96px); */
	top: 0%;

	color: black;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	/* top: 200px; */

	text-align: center;

	font-size: 2rem;
	font-family: Crowlista Italic;
	font-weight: 300;
	line-height: 2rem;

	/* animation-duration: 1.5s;
	animation-name: titleslide;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out; */

	z-index: 2;
}

.hider {
	position: absolute;
	top: 0;
	left: 0;

	height: 100vh;
	width: 100vw;

	background-color: #25F4EE;

	pointer-events: none;
	z-index: 1;

	animation-duration: 2s;
	animation-name: hideroff;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}

@keyframes titleslide {
	from {
	  font-size: 2rem;
	  line-height: 2rem;
	  top: calc(50% - 96px);
	}
  
	to {
	  font-size: 2rem;
	  line-height: 2rem;
	  top: 0%;
	}
  }

  @keyframes hideroff {
	from {
	  opacity: 100%;
	}
  
	to {
	  opacity: 0%;
	}
  }

.switchset {
	position: absolute;
	top: 24px;
	left: 50%;
	transform: translate3d(-50%, 0, 0);

	height: fit-content;
	width: fit-content;

	border-radius: 2px;
	padding: 0 0.2em;

	background-color: black;
	color: white;
	font-size: 0.5rem;
}

.switchset:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

#quote {
	background-color: white;
	text-align: center;
	justify-content: center;

	color: #75805e;

	font-family: Crowlista Italic;
}

/* #languagespage {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
} */

.changeabb {
	position: absolute;
	top: 24px;

	width: calc(50vw - 72px);

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

	height: 40vh;

	opacity: 0;
}

.changeabb.show {
	opacity: 1;
}

.abbreviations {
	position: relative;
	top: 0%;
	left: 72px;
	/* transform: translate3d(0, 50%, 0); */
	width: calc((50vw - 72px) / 3);
	font-size: 2rem;
	font-family: Crowlista Mono;
	line-height: 2rem;
	text-align: center;
	height: 20vh;

	/* overflow: hidden; */
}

.abbreviations p {
	position: relative;
	top: 0rem;
	height: 1rem;
	font-size: 0.5rem;
	margin: 24px;
	line-height: 1rem;


	font-family: Crowlista Mono;
}

.abbbuttons {
	position: absolute;
	top: 45vh;
	left: 72px;
	
	width: calc(50vw - 96px);
	height: 55vh;

	padding-left: 12px;
	padding-right: 12px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	line-height: auto;

	overflow: scroll;
}

.abbbutton {
	position: relative;
	/* top: 4rem; */

	margin-bottom: 6px;
	margin-left: 6px;

	transform: translate3d(0, 0, 0);

	height: fit-content;
	width: fit-content;

	/* background: white; */
	border-radius: 2px;
	padding: 0 0.2em;

	font-family: Crowlista Mono Italic;
	font-size: 0.5rem;
	color: black;

	cursor: pointer;

	overflow: hidden;

	/* z-index: 1; */

	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.abbbutton:hover {
	/* background: black; */
	color: grey;
}

.abbbutton.touched {
	/* background: black; */
	color: grey;
}

.piecesnames {
	font-size: 0.5rem;
	font-family: Crowlista Italic;
}

.piece {
	position: absolute;

	color: white;

	background-color: #75805e;
}

.piecebig {
	position: absolute;
	/* top: 48px; */
	left: 50%;
	transform: translate3d(-50%, 0, 0);

	font-size: 8rem;
}

.piecebig p {
	font-family: Crowlista Italic;
	color: #75805e;
	font-size: 4rem;
}

.pieceinfo {
	position: absolute;
	top: 66%;
	left: 50%;
	transform: translate3d(-50%, 0, 0);

	font-size: 0.5rem;
	width: calc(100% / 2);
}
.typewriter {
	overflow: scroll;

	position: absolute;
	top: 48px;
	left: calc(100vh + 66px);

	height: calc(100vh - 48px);
	width: calc((100vw - 100vh) - 288px);

	padding: 6px;

	/* border: 2px solid black; */

	font-size: 0.8rem;
	line-height: 1rem;
	font-feature-settings: "ss07" 1;
}

#turnInfo {
	position: absolute;
	top: 12px;
	left: calc(100vh + 72px);

	height: 24px;
	width: fit-content;

	font-size: 0.5rem;
	line-height: 24px;
	text-align: center;

	margin: 0;
}

#chess {
	position: absolute;
	top: 12px;
	left: calc(72px + 12px);
	transform: translate3d(0%, 0%, 0);

	text-align: center;

	z-index: 1;
	color: white;

	/* background-color: #75805e; */
}

#board{
	left: 0%;
	transform: translate3d(0%, 0, 0);
	/* border: 1px solid #1e264c; */
	box-sizing: unset;
	width: calc(100vh - 24px);
	height: calc(100vh - 24px);
	position:relative;
}

#board .square{
	background-image:url("../img/piecesB_03.png");
	background-size:600% 200%;
	width:calc((100vh - 24px) / 8);
	height:calc((100vh - 24px) / 8);
	float:left;
	cursor:pointer;
	z-index:10;
	position:relative;
}

#chess p {
	color: black;
	text-align: center;
	line-height: 0.8;
}

/* #turnInfo {
	font-feature-settings: "ss09" 1;
	font-size: 1rem;
} */

#board .square.empty{
	background-image:none;
}

#board .square.light{
	background-color: white;
}

#board .square.dark{
	background-color: black;
}

#board .square.selected{
	box-shadow: 0 0 2px gray, 0 0 4px 6px gray inset;
	z-index:20;

	transition: box-shadow 0.2s ease-in-out;
}

#board .square.black-king{
	background-position:0% 100%;
}

#board .square.black-queen{
	background-position:20% 100%;
}

#board .square.black-bishop{
	background-position:40% 100%;
}

#board .square.black-knight{
	background-position:60% 100%;
}

#board .square.black-castle{
	background-position:80% 100%;
}

#board .square.black-pawn{
	background-position:100% 100%;
}

#board .square.white-king{
	background-position:0% 0%;
}

#board .square.white-queen{
	background-position:20% 0%;
}

#board .square.white-bishop{
	background-position:40% 0%;
}

#board .square.white-knight{
	background-position:60% 0%;
}

#board .square.white-castle{
	background-position:80% 0%;
}

#board .square.white-pawn{
	background-position:100% 0%;
}

#board .overlay{
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	height:100%;
	width:100%;
	z-index:0;
	opacity:0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

	color: black;
}

#board .overlay.show{
	opacity:1;
	z-index:100;
}

#board .overlay .overlay-inner{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width: calc((100vh - 24px) / 2);
	height: calc((100vh - 24px) / 4);
	background:#fff;
	/* border-radius:15px; */
	padding:12px;
	box-shadow:0 0 10px rgba(0,0,0,0.3);
	text-align:center;
}

#board .overlay .overlay-title{
	display:block;
	/* font-weight:bold; */
	line-height:32px;
	font-size: 0.5rem;
}

#board .overlay .overlay-text{
	/* position: absolute;
	top:  50%;
	transform: translate3d(-50%, -50%, 0);
	left: 50%; */
	line-height:0.5rem;
	font-size: 0.5rem;
}

#board .overlay .overlay-button{
	display:inline-block;
	line-height:0.6rem;
	height: fit-content;
	font-size: 0.5rem;
	padding: 0 12px;
	color:#fff;
	background-color:black;
	/* border-radius:5px; */
	text-decoration:none;
	margin-top:10px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#board .overlay .overlay-button:hover {
	background-color: white;
	color: black;
}



#board #promotionList{
	margin:0;
	padding:20px 0;
	list-style-type:none;
	text-align:center;
}

#board #promotionList li{
	display:inline-block;
	padding:0 0px;
}

#board #promotionList li a{
	background-image:url("../img/piecesB_03.png");
	background-size:600% 200%;
	width:60px;
	height:60px;
	display:block;
}

#board #promotionList.white li a.queen{
	background-position:20% 0%;
}

#board #promotionList.white li a.castle{
	background-position:80% 0%;
}

#board #promotionList.white li a.bishop{
	background-position:40% 0%;
}

#board #promotionList.white li a.knight{
	background-position:60% 0%;
}

#board #promotionList.black li a.queen{
	background-position:20% 100%;
}

#board #promotionList.black li a.castle{
	background-position:80% 100%;
}

#board #promotionList.black li a.bishop{
	background-position:40% 100%;
}

#board #promotionList.black li a.knight{
	background-position:60% 100%;
}

@font-face {
    font-family: "Crowlista Mono";
    src: url("../fonts/444-Crowlista-Mono-Regular.otf");
  }

  @font-face {
    font-family: "Crowlista Mono Italic";
    src: url("../fonts/444-Crowlista-Mono-Italic.otf");
  }

  @font-face {
    font-family: "Crowlista Inline";
    src: url("../fonts/444-Crowlista-Mono-Inline.otf");
  }

  @font-face {
    font-family: "Crowlista Checker";
    src: url("../fonts/444-Crowlista-Mono-Checker.otf");
  }


  .notation-div{
	display: flex;
	flex-direction: row;
  }

  .notation-div span {
	margin-right: 0.5rem;
  }

  @media screen and (min-width: 5000px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}